<ul class="undecorated-list">
    <li class="icon home-icon">{{contactDetails.address}}</li>
    <li class="icon email-icon">{{contactDetails.email}}</li>
    <li class="icon contact-icon">{{contactDetails.tel}}</li>
    <li class="icon birthday-icon">{{contactDetails.birthday}}</li>
</ul>