<!Doctype html>
<html>
    <body>
    <form method="POST">
        <label for="visitor">Visitor Name
            <input type="text" name="visitor" id="visitor" required placeholder="Name of the recruiter to grant access">
        </label>
        <label for="expirationDate">Visitor Name
            <input type="date" name="expirationDate" id="expirationDate" value="{{date}}">
        </label>
        <button type="submit">Generate Token</button>
    </form>
    </body>
</html>