<section id="aboutme-section">

  <h2 class="section-heading">About me</h2>
  <ul class="list" id="about-me-list">
    <li>Aspiring Tech Lead dedicated to fostering team growth and excellence</li>
    <li>Proficient Full-stack Developer with the capability and confidence to work across the entire stack</li>
    <li>Passionate about continuous delivery, trunk-based development, functional programminge</li>
    <li>Focused on delivering customer value through sustainable and high-quality solutions</li>
  </ul>
</section>
