<section id="career-section">
    <h2 class="section-heading">Experience</h2>
    {% for employment in site.data.career %}
        <div class="company-card">
            <h3 class="company-heading">{{employment.company}}</h3>
            {% for job in employment.jobs %}
                <article class="job-entry">
                    <section class="job-header">
                        <p class="job-title">{{job.title}}</p>
                        <p class="job-duration">{{job.from}} - {{job.until}}</p>
                    </section>
                    <ul class="list">
                        {% for entry in job.description %}
                        <li class="job-description">{{ entry }}</li>
                        {% endfor %}
                    </ul>
                    <p class="job-technologies">{{ job.technologies | join: ", "}}</p>
                </article>
            {% endfor %}
        </div>
    {% endfor %}
</section>
