<div id="job-content">
    <h2 class="section-heading">Experience</h2>
    {% for employment in site.data.career %}
        <div class="company-card">
            <h4>{{employment.company}}</h4>
            <div class="timeline">
                {% for job in employment.jobs %}
                    <section>
                        <ul class="job-entry">
                            <li class="job-title">{{job.title}}</li>
                            <li>{{job.from}} - {{job.until}}</li>
                            <li class="job-description">{{job.description}}</li>
                        </ul>
                    </section>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>
