<template id='contact-loader-template'>
<div id='contact-loader'>
    <div title="address">
        <img src="/CV/assets/icons/home.svg" alt="Icon depicting a home" class="icon-new">
        <div class="skeleton text-loader" style="width: 80%;"></div>
    </div>
    <div title="email">
        <img src="/CV/assets/icons/mail.svg" alt="Icon depicting an envelope" class="icon-new">
        <div class="skeleton text-loader" style="width: 80%;"></div>
    </div>
    <div title="telephone number">
        <img src="/CV/assets/icons/mobile.svg" alt="Icon depicting a mobile phone" class="icon-new">
        <div class="skeleton text-loader" style="width: 80%;"></div>
    </div>
    <div title="birthday">
        <img src="/CV/assets/icons/cake.svg" alt="Icon depicting a cake" class="icon-new">
        <div class="skeleton text-loader" style="width: 80%;"></div>
    </div>
</div>

</template>
