<section id="education-section">
  <h2 class="section-heading">Education</h2>
  <div class="company-card">
      <section>
          <p class="job-title">Apprenticeship
            zum Fachinformatiker
            Anwendungsentwicklung</p>
          <p>Sep 2017 - Jan 2020</p>
          <p class="job-description">
            Abschlussnote Gut (82 Punkte)</p>
      </section>
      <section>
          <p class="job-title">Informatik
            Studium KIT</p>
          <p>Okt 2016 - Mär 2017</p>
      </section>
      <section>
          <p class="job-title">Abitur
            Hans-Grüninger-Gymnasium</p>
          <p>Sep 2007 - Jun 2016</p>
          <p class="job-description">
            Abschlussnote 2.7</p>
      </section>
  </div>
</section>
