<section id="education-section">
  <h2 class="section-heading">Education</h2>
  <div class="company-card">
      <section>
          <p class="job-title">Apprenticeship
            Fachinformatiker
            Anwendungsentwicklung</p>
          <p>Sep 2017 - Jan 2020</p>
          <p class="job-description">
            Final mark 2 (82 / 100 Points)</p>
      </section>
      <section>
          <p class="job-title">Computer Science at KIT</p>
          <p>Oct 2016 - Mar 2017</p>
      </section>
      <section>
          <p class="job-title">Abitur
            Hans-Grüninger-Gymnasium</p>
          <p>Sep 2007 - Jun 2016</p>
          <p class="job-description">
            Final mark 2.7</p>
      </section>
  </div>
</section>
