<section id="languages-section">
  <h2 class="sidebar-heading">Languages</h2>
  <div class="languages">
    <p>German</p>
    <div class="language-proficiency">
      <span class="circle circle-blue"></span>
      <span class="circle circle-blue"></span>
      <span class="circle circle-blue"></span>
      <span class="circle circle-blue"></span>
      <span class="circle circle-blue"></span>
    </div>
    <p>
      English
    </p>
    <div class="language-proficiency">
      <span class="circle circle-blue"></span>
      <span class="circle circle-blue"></span>
      <span class="circle circle-blue"></span>
      <span class="circle circle-blue"></span>
      <span class="circle circle-white"></span>
    </div>
  </div>
</section>
