<h4 class="left-bar-header">Skills</h4>
{% for skills in site.data.skills %}
    <details>
        <summary>{{skills.group}}</summary>

        <ul class="undecorated-list skill-bar">
            {% assign sorted_skills = skills.skills | sort: "level" | reverse %}
            {% for skill in sorted_skills %}
                <li>
                    {{skill.name}}
                    <div>
                        {% for i in (1..skill.level) %}
                            <span>▰</span>
                        {% endfor %}
                    </div>
                </li>
            {% endfor %}
        </ul>
    </details>
{% endfor %}
