---
---
$baseurl: "{{ site.baseurl }}";

@page {
    size: A4 portrait;
    margin: 0;
}
html {
}
h4 {
    color: black;
}
body {
    height: 100vh;
}
.main-viewport {
    max-width: 210cm;
}

.job-description {
    max-width: 100%;
}
.references-description {
    max-width: 100%;
}

.row {
    grid-template-columns: 100%;
}

#job-content {
    padding-right: 1rem;
}

.company-heading {
    break-before: auto;
}

.timeline-entry {
    break-inside: avoid;
}

#left-bar {
    min-height: 100%;
    background-color: white;
    color: black;
}

.left-bar-header {
    color: black;
}

#right-bar {
    background-color: white;
    border-left: 1px solid #3E6990;
}

.references {
    break-inside: avoid;
}

.btn-print {
    display: none;
}

.project-link {
    font-weight: bold;
    color: black;
    text-decoration: underline;
}

.project-link:visited {
    color: black;
}

.home-icon {
    background: url($baseurl + '/assets/icons/home_dark.svg') no-repeat;
}

.contact-icon {
    background: url($baseurl + '/assets/icons/mobile_dark.svg') no-repeat;
}

.email-icon {
    background: url($baseurl + '/assets/icons/mail_dark.svg') no-repeat;
}

.birthday-icon {
    background: url($baseurl + '/assets/icons/cake_dark.svg') no-repeat;
}
