---
---
$baseurl: "{{ site.baseurl }}";

:root {
    --main-content-bg-color: #F6EDE9;
    --background-color-dark: #1d1e18;
    --primary-color-contrast-dark: #70a4d3;
    --primary-color-accent: #3E6990;
}

h1, h2, h3, h4, p {
    margin: 0;
}

@page {
    size: A4;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    min-height: 29.7cm;
    line-height: 1.5;
    margin: 0 auto;
    padding: 0;
    max-width: 210mm;
}

.background-blue {
    background-color: var(--primary-color-accent);
}

.circle {
    width: 1rem;
    height: 1rem;
    border-radius: 9999px;

}

.circle-white {
    background-color: white;
}
.circle-blue {
    background-color: var(--primary-color-contrast-dark);
}

.languages {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding-top: 1rem;
    row-gap: 1rem;
}
.language-proficiency {
    display: flex;
    flex-direction: row;
    gap: .4rem;
    align-items: center;
    line-height: 2rem;
}

#title-image {
    grid-row: 1/3;
    padding: 1rem;
    background: var(--primary-color-accent);
}

#contact-section {
    grid-column: 1;
    grid-row: 3;
    background: var(--primary-color-accent);
    padding-left: 1.5rem;
    color: white;
}

#aboutme-section {
    grid-row: 3;
    grid-column: 2;
    padding-right: 1rem;;
}

#about-me-list {
    padding-top: 1rem;
}

#career-section {
    grid-row: 4;
    grid-column: 2;
    padding-right: 1rem;
}

#skill-section {
    grid-row: 4;
    grid-column: 1;
    background: var(--primary-color-accent);
    padding: 0 1rem;
    padding-left: 1.5rem;
    color: white;
    max-width: 80%;
}

#skills {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    break-inside: auto;
}

#education-section {
    grid-column: 2;
}

#education-section .section-heading {
    margin-bottom: 1rem;
}

#education-section .company-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#languages-section {
    grid-column: 1;
    grid-row: 5;
    background: var(--primary-color-accent);
    padding: 0 1rem;
    padding-left: 1.5rem;
    color: white;
    padding-bottom: 1rem;
    max-width: 80%;
}

#title-section {
    grid-row: 2;
    grid-column: 2;
    background: rgba(200, 200, 200, .25);
    box-sizing: border-box;
    padding: 1rem 1rem;
    text-align: center;
    height: 100%;
}

#title-section h1 {
    font-size: 3rem;
    margin: 0;
    padding: 0 0 1rem 0;
    font-weight: 400;
}

#title-section h1::after {
    height: .125rem;
    display: block;
    content: "";
    width: 35%;
    box-sizing: border-box;
    margin: 1rem auto 0 auto;
    background: rgba(0, 0, 0, .4);
}

.main-viewport {
    display: grid;
    column-gap: 1rem;
    grid-template-columns: 1.25fr 2.5fr;
    grid-template-rows: 1rem 12.5rem;
    height: 100vh;
    padding-right: 1rem;
}


.circular-img {
    display: block;
    max-height: 100%;
    margin: 0 auto;
    border-radius: 50%;
    border: 3px solid white;
}

.undecorated-list {
    list-style: none;
    padding: 0;
}

.section-heading {
    display: inline-block;
    color: #3E6990;
    border-bottom: 1px solid #3E6990;
    padding-top: 1rem;
}

.row {
    margin-bottom: 15px;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.project-link {
    text-decoration: none;
    color: #3E6990;
    font-weight: bold;
}

.project-link:visited {
    color: #3E6990;
    font-weight: bold;
}

.company-heading {
    padding: 1.25rem 0;
    padding-top: 1rem;
    text-align: center;
}

.company-card {
    break-inside: avoid;
}

.job-header {
    display: flex;
    justify-content: space-between;
    break-before: auto;
}

.job-description {
    break-inside: avoid;
}

.job-duration {
    color: var(--primary-color-accent);
    font-weight: 650;
}

.job-entry {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    break-inside: avoid;
    margin-bottom: 1rem;
}

.list {
    margin: 0;
    padding-left: 1.5rem;
}

.list li {
    padding-left: .125rem;
}

.list li:last-of-type {
    padding-bottom: 0rem;
}

.job-technologies {
    color: rgba(0,0,0,.6);
    padding-left: .5rem;
}

.job-technologies::before {
    content: "#";
    padding-right: .65rem;
}

.job-title {
    font-weight: 650;
    letter-spacing: .03125rem;
}

.sidebar-heading {
    border-bottom: 1px solid white;
    display: inline-block;
    color: white;
    padding-top: 1rem;
}
.contact-icon {
    background: url($baseurl + '/assets/icons/mobile.svg') no-repeat;
}

.email-icon {
    background: url($baseurl + '/assets/icons/mail.svg') no-repeat;
}

.birthday-icon {
    background: url($baseurl + '/assets/icons/cake.svg') no-repeat;
}

.home-icon {
    background: url($baseurl + '/assets/icons/home.svg') no-repeat;
}

.icon {
    background-position: left;
    background-size: 20px;
    padding-left: 25px;
}

.skill-bar {
    margin: 0;
}

progress {
    border-radius: 9999px;
    height: .5rem;
    margin-top: .25rem;
}

progress[value] {
    -webkit-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
}

progress[value]::-webkit-progress-bar {
  background-color: white;
  border-radius: 9999px;
}

progress[value]::-webkit-progress-value {
    background-color: var(--primary-color-contrast-dark);
    border-radius: 9999px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
}

#skill-section .skill-bar:first-of-type {
    padding: 1.5rem 0;
}

.skill {
    visibility: visible;
}
.skill:first-of-type {
    padding-top: 1rem;
}

.skill {
    break-inside: avoid;
    padding-bottom: .25rem;;
}

// Whenever the pdf rendering swalllows a skill adjust this to break before
.skill:nth-last-of-type(4) {
    break-before: page;
}

.skill-bar span {
    font-size: 1.4em;
}

#references {
    display: flex;
    flex-direction: column;
}

.row {
    display: grid;
    grid-template-columns: .2fr 1fr;
}

.references-description {
    max-width: 50%;
}

.icon-new {
    max-width: 1.25rem;
    display: inline;
}
