<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta lang="en">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{{site.data.baseData.description}}" />
        <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
        <!--<link rel="stylesheet" media="print" href="{{ "/assets/css/print.css" | relative_url }}">-->
        <title>Rico Lang - CV</title>
</head>
<body>

    <main class="main-viewport">
        <section></section>
        {% include title.html %}
        {% include contact.html %}
        {% include aboutme.html %}
        {% include career.html %}
        <div class="background-blue">
                {% include skills.html %}
                {% include languages.html %}
        </div>
        <div class="background-blue"></div>
        {% include education.html %}
        <div class="background-blue" style="height: 100%"></div>
    </main>
</body>
</html>
